<html>
<script>
 var hello = function() {
   console.log('LinkedIn loaded');
 };

 var success = function() {
   alert('Time to celebrate!');
 };

 var failure = function() {
   alert('That didn't work out);
 };
</script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: <%= linkedin.apikey %>
  onLoad: hello
  authorize: true
</script>
<body>

<div>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
<div>

<div>
  <script type="IN/Share" data-url="http://bit.ly/UGcxoh" data-onSuccess="success" data-onError="failure"></script>
</div>

</body>
</html>
