<html>
<script>
 var hello = function() {
   console.log("LinkedIn library loaded");
 };

 var success = function() {
   alert("Time to celebrate!");
 };

 var failure = function() {
   alert("That didn't work out");
 };
</script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: <%= linkedin.apikey %>
  onLoad: hello
  authorize: true
</script>
<body>

<div>
<script type="in/Login">
Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
<div>

<div>
  Bitly link: <script type="IN/Share" data-url="http://bit.ly/UGcxoh" data-onSuccess="success" data-onError="failure"></script>
</div>

<div>
  Full link: <script type="IN/Share" data-url="http://gergely.imreh.net/blog/2012/11/the-internet-hates-programming/?utm_source=linkedin&utm_medium=click&utm_campaign=blog" data-onSuccess="success" data-onError="failure"></script>
</div>


</body>
</html>
